<br />

<hr />

<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="query" color="primary"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="query" color="warn"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>

<address id="html-body-footer-address">
    <p> ~~~~~~ &nbsp;GITHub &nbsp;:&nbsp; https://github.com/jozef-javorsky-dodo</p>
    <p> ~~~~~~ &nbsp;e-mail &nbsp;:&nbsp; jozef.javorsky.dodo@gmail.com</p>
</address>